 .container{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 0.5rem 1rem;
    transition: 0.1s;
    border-radius:  0.5rem;
    cursor: pointer;
 }
 .container:hover{
    background-color: #ddd;
 }
 .img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 1.25rem;
    background-color: #ccc;
 }
 .name{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    line-height: 1;
    margin: 0.25rem 0 0.25rem 0.5rem;
 }
 .subtext{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 0.75rem;
    line-height: 1;
    color: #111;
    margin: 0 0 0.25rem 0.5rem;
 }