.button{
    display: block;
    width: 100%;
    font-size: 1.25rem;
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: #666;
    font-weight: 600;
    padding: 0.5rem 1rem;
    text-align: left;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.1s;
    border-radius:  0.5rem;
}
.button:hover{
    background-color: #ddd;
    padding: 0.5rem 1.5rem;
}
.active{
    font-weight: 800;
    color: #000;
}